{%extends 'shop/basic.html'%}

{%block title%}Home-Mac{%endblock%}

{%block css%}
{%load static%}
<link rel="stylesheet" href='{% static "shop/index.css"%}'>
{%endblock%}

{%block body%}
{% for product, range, nSlides in allProd%}
<h1>{{product.0.category}}</h1>
<div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide my-4" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter}}" data-bs-slide-to="0"
      class="active" aria-current="true" aria-label="Slide 1"></button>


    {%for i in range%}
    <button type="button" data-bs-target="#carouselExampleIndicators{{forloop.parentloop.counter}}"
      data-bs-slide-to="{{i}}" aria-label="Slide {{i}}"></button>
    {%endfor%}
  </div>
  <div class="carousel-inner no-padding">
    <div class="carousel-item active">

      {%for i in product%}

      <div class="col-sm-3 col-md-3 col-xs-3">
        <div class="card">
          <img src="../media/{{i.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="namepr{{i.product_id}}">{{i.product_name}}</h5>
            <p class="card-text">{{i.desc|slice:60}}.....</p>
            <div class="d-flex justify-content-evenly">
              <span id="btnpr{{i.product_id}}" class="flex-fill me-2 btnpr">
                <button class="btn btn-primary addToCart" id="pr{{i.product_id}}">Add to cart</button>
              </span>
              <a href="/shop/productview/{{i.product_id}}" class="flex-fill"><button class="btn btn-primary"
                  id="qv{{i.product_id}}">Quick
                  View</button></a>
            </div>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
    </div>
    <div class="carousel-item">
      {%endif%}

      {%endfor%}

    </div>






  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter}}"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{forloop.counter}}"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{%endfor%}
{%endblock%}

{%block js%}
<script src="{%static 'shop/index.js'%}"></script>
{%endblock%}