{%extends 'shop/basic.html' %}
{%block title%}{{prod.product_name}} - MyCart {%endblock%}
{%block body%}
<div class="row">
    <div class="col-md-4 col-sm-12">
        <img src="/media/{{prod.image}}" alt="" class="mt-2" style="width: 100%; height: 400px;">
        <div class="d-flex mt-2">
            <span id="btnpr{{prod.product_id}}" class="flex-fill me-1 btnpr">
                <div class="btn btn-primary addToCart col-12" id="pr{{prod.product_id}}">Add to cart</div>
            </span>
            <a class="btn btn-primary flex-fill" href="/shop/productbuy/{{prod.product_id}}">Buy now</a>
        </div>
    </div>
    <div class="col-md-8 col-sm-12">
        <h2 id="namepr{{prod.product_id}}">{{prod.product_name}}</h2>
        <hr style="height: 5px;">
        <h5><b id="pricepr{{prod.product_id}}">Rs.{{prod.product_price}}</b></h5>
        <p>{{prod.desc}}</p>
    </div>
</div>

{%endblock%}
{%block js%}
{%load static%}
<script src="{%static 'shop/index.js'%}"></script>
{%endblock%}